# Ignorar llaves de seguridad encriptadas
*.key
*.pem

# Ignorar archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class

# Ignorar entorno virtual
venv/
.env

# Ignorar archivos basura de sistema
.DS_Store
Thumbs.db
